.gridItems {
  padding: 2vh 1.5vw 5vh 1.5vw;
}

#gridNameTag {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5vh 0.5vw 2.5vh 0.2vw;
  a {
    color: blue;
    font-size: 1.3vw;
  }
  h2 {
    font-size: 1.7vw;
  }
}

#sixGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  grid-gap: 1.2vw;

  p {
    height: 12vh;
    display: flex;
    align-items: center;
    color: #919191;
    font-weight: 550;
    font-size: 1.1vw;
    padding: 0 0.8vw 0 0.8vw;
  }
}

#cItem {
  box-shadow: 1px 5px 2px -5px rgb(110, 110, 110);
  border: 1px solid rgb(233, 233, 233);
  //border: 1px solid red;
  border-radius: 0.2rem;
}

#gridPic {
  border-radius: 0.2rem 0.2rem 0 0;
  height: 35vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  // border: 0.5px solid rgb(233, 233, 233);
  border-bottom: 0.5px solid rgb(233, 233, 233);
  // border-right: 0.5px solid rgb(233, 233, 233);
  // border-top: 0.5px solid rgb(233, 233, 233);
}
