@import "all";
@import "responsive";

$padding: 1.5vw;
$bacClr: rgb(15, 89, 198);

.navbar {
  width: 100%;
  height: 40vh;
  background: $bacClr;
}

#hideNav {
  // background: red;
  display: none;
}

#logo {
  width: 11vw;
}

.turnB {
  position: fixed;
  background: #000000;
  width: 100%;
  height: 100vh;
  z-index: 11;
  opacity: 0.7;
  display: none;
}

#nav-group {
  position: fixed;
  z-index: 90;
  @include tab(768px) {
    z-index: 102;
  }
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $padding 0 $padding;
  transition: 0.5s;
  // border: 1px solid white;
  a {
    color: white;
    font-weight: bold;
    font-size: 1.3vw;
    padding: 3.5vh 1.5vw 2.5vh 1.5vw;
    transition: 0.5s;
    &:hover {
      background: #1a53be;
    }
  }

  #logoA {
    position: relative;
    margin-right: 0;
    padding-right: 0;
    padding: 0;
    &:hover {
      background: none;
    }
  }
}

.turnWhite {
  background: white;
  box-shadow: 1px 0px 5px 2px rgb(143, 143, 143);
  #navSearch {
    #searchBarSmall {
      border: 1px solid rgb(126, 126, 126);
      background: none;
      input {
        background: none;
        color: black;
        height: 5.8vh;
        &::placeholder {
          color: rgb(155, 155, 155);
        }
      }
    }
  }
  #navLinks {
    a {
      font-weight: inherit;
      color: rgb(56, 56, 56);
      &:hover {
        background: rgba(194, 194, 194, 0.466);
      }
      @include tab(768px) {
        color: white;
      }
    }
  }
}

.showLogo {
  position: relative;
}
#logo {
  // border: 1px solid red;
  position: absolute;
}
#logoB {
  // border: 1px solid red;
  position: relative;
  width: 11vw;
  opacity: 0;
}
$inputClr: #3d81d6;

%search {
  background: none;
  border: none;
  outline: none;
  color: white;
}

.searchBar {
  position: relative;
  border-radius: 0.2rem;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  width: 55vw;
  height: 8.5vh;
  display: flex;
  background: $inputClr;
  align-items: center;
  z-index: 101;
  transition: 0.5s;
  input {
    @extend %search;
    width: 52vw;
    height: 8.5vh;
    line-height: 8.5vh;
    font-size: 1.3vw;
    &::placeholder {
      color: white;
      font-size: 1.2vw;
      line-height: 8.5vh;
    }
  }
  #searchB {
    width: 2vw;
  }
}

#screen {
  position: fixed;
  display: none;
  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0);
  opacity: 0.6;
  z-index: 100;
}

.searchResults {
  position: absolute;
  margin-top: 2vh;
  border-radius: 0.2rem;
  top: 8.5vh;
  width: 55vw;
  height: auto;
  overflow: hidden;
  background: rgb(255, 255, 255);
  transition: 0.5s;
  p {
    //border-bottom: 1px solid rgb(0, 0, 0);
    //margin: 0vh 1.5vw 0vh 1.5vw;
    padding: 2.5vh 0.5vw 2.5vh 1.5vw;
    font-size: 1.2vw;
    &:hover {
      background: rgb(237, 248, 255);
      cursor: pointer;
    }
  }
  a {
    color: rgb(71, 59, 245);
  }
}

.searchResultsSmall {
  width: 23.5vw;
  background: rgb(255, 255, 255);
  margin-top: 1vh;
  height: auto;
  overflow: hidden;
  border-radius: 0.2rem;
  transition: 0.5s;
  p {
    padding: 2vh 1vw 2vh 1vw;
    font-size: 1.1vw;

    &:hover {
      background: rgb(237, 248, 255);
      cursor: pointer;
    }
  }
  a {
    color: #026cdf;
  }
}

#loadingSearch {
  position: absolute;
  top: 8.5vh;
}

#searchIcon {
  width: 1.5vw;
  margin: 0 0.8vw 0 1.2vw;
}

#navSearch {
  display: flex;
  align-items: center;
}

.searchBarSmall {
  position: fixed;
  width: 23.5vw;
  height: 6vh;
  border-radius: 0.2rem;
  margin-left: 2vw;
  left: 12vw;
  top: 2vh;
  z-index: 1001;
  background: #3d81d6;
  img {
    position: absolute;
    width: 1.4vw;
    height: 6vh;
    margin: 0vh 1vw 0 1vw;
    // border: 1px solid red;
  }
  input {
    position: relative;
    left: 3vw;
    width: 20vw;
    height: 6vh;
    padding-left: 0.5vw;
    @extend %search;
    font-size: 1.3vw;
    &::placeholder {
      color: white;
      font-size: 1.1vw;
    }
  }
}

#navClr {
  background: white;
  border: 1px solid rgb(184, 184, 184);

  input {
    color: black;
    &::placeholder {
      color: rgb(82, 82, 82);
    }
  }
}

#searchB {
  // border: 1px solid red;
  display: none;
}

.navDetails {
  position: relative;
  //border: 1px solid red;
  height: 35vh;
  padding: 0.5vw 1.5vw 0.5vw 1.5vw;
  display: none;
  color: white;

  h1 {
    bottom: 1vh;
    font-size: 3.5vw;
    font-weight: 200;
    span {
      font-weight: 1000;
      margin-right: 1vw;
    }
  }
}
#navDetailContent {
  position: absolute;
  bottom: 0;
  padding-bottom: 1vh;

  p {
    font-weight: bold;
    font-size: 1vw;
  }
  #slash {
    margin: 0 0.5vw 0 0.5vw;
  }
  a {
    color: white;
    cursor: pointer;
  }
}

.hideNavDetails {
  display: none;
}

.searchResultTitle {
  display: none;
  position: absolute;
  bottom: 0;
  width: 90vw;
  height: 25vh;
  background: $bacClr;
  h1 {
    position: relative;
    padding-top: 5vh;
    font-size: 4vw;
    overflow: hidden;
    // top: 17vh;
    @include tab(768px) {
      padding: 2vh 0vw 1vh 0vw;
      font-size: 1.5rem;
    }
    @include tab(425px) {
      padding: 2vh 1.5vw 1vh 1.5vw;
    }
  }
}

@import "navRes";
