.ToTop {
  #topBtn {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 4.5vw;
    height: 4.5vw;
    margin: 1.5vw;
    right: 0%;
    bottom: 0%;
    background: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    border: 2px solid rgb(120, 172, 255);
    img {
      width: 2vw;
      transform: rotate(180deg);
    }
  }
}
